@import './null'

body.lock
    overflow-y: hidden

#__nuxt,
#__layout
    height: 100%

.container
  max-width: 1150px
  padding: 0 15px
  margin: 0 auto

@media(max-width: 1200px)
    .container
        max-width: 980px

@media(max-width: 992px)
    .container
        max-width: 752px